<link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico', v=app_version) }}">
<link rel="icon" type="image/png" sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png', v=app_version) }}">
<link rel="icon" type="image/png" sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png', v=app_version) }}">
<link rel="apple-touch-icon" sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png', v=app_version) }}">
<link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest', v=app_version) }}">
