<script src="https://cdn.tailwindcss.com" integrity="sha384-igm5BeiBt36UU4gqwWS7imYmelpTsZlQ45FZf+XBn9MuJbn4nQr7yx1yFydocC/K"></script>

<!-- Preload the fonts used on this page to prevent FOUT -->
<link rel="preload" href="/static/fonts/inter_normal_latin.woff2?v={{ app_version }}"
      as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/static/fonts/inter_italic_latin.woff2?v={{ app_version }}"
      as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/static/fonts/italiana_normal_latin.woff2?v={{ app_version }}"
      as="font" type="font/woff2" crossorigin>

<!-- NOSONAR: self-hosted Inter, Italiana, Merriweather (see development/download-fonts.py) -->
<link href="{{ base_google_fonts_url }}" rel="stylesheet">

{% include "_favicons.html" %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css', v=app_version) }}">
